
    body {
      background: linear-gradient(135deg, #d1c734, #ebe597);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }
    .btn-custom {
      background: #d1c734;
      color: white;
      border-radius: 50px;
      transition: 0.3s;
    }
    .btn-custom:hover {
      background: #9c941c;
    }
    .form-control {
      border-radius: 50px;
    }

       